<h1>Movies#index</h1>
<p>Find me in app/views/movies/index.html.erb</p>

<% @movies.each do |movie| %>
  <ul>
    <li>
      <%=   movie.original_title %>
    </li>
    <li>
      Note of <%= movie.vote_average %> / 10
    </li>
  </ul>
<% end %>


